/* josh's additions */

a {
    color: #212758;

}

p a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff,
        0 0.05em 0 #fff, 0 -0.05em 0 #fff,
        0.1em 0 0 #fff, -0.1em 0 0 #fff,
        0 0.1em 0 #fff, 0 -0.1em 0 #fff;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-position: bottom 0.05em center;
    background-size: 100% 0.05em;
}

p,
li {
    font-family: 'Noto Serif', serif;
    color: #343a40;
}



p a:hover {
    text-decoration: none;
}

.cust-nav-item {}

.link-disabled {
    color: #d3d3d3;
}

.header-border {
    border-bottom: 1px solid #333;
    padding: 10px;
}

.header {
    padding: 16px 0px;
}

body {
    font-size: 1.1rem;
    line-height: 2rem;
    font-family: 'Noto Serif', serif;
}

/* button updates */

.btn {
    font-family: 'Noto Serif', serif;
}

.bg-mobile {
    display: none;
}

.bg-desktop {
    background: url(../img/bg/bg-cafe-alt.png) no-repeat;
    background-size: contain;
}

.bg-desktop-contact {
    background: url(../img/bg/bg-cafe-2.svg) no-repeat;
    background-size: contain;
}

.bg-blue {
    background-color: #3e499e;
}
.darkmode h1, h2 {
    color: white;
}
.darkmode p {
    color: #e9eefc;
}
.darkmode a {
    text-shadow: none;
    color: #e9eefc;
    font-weight: 700;
}

.off-screen {
  left: -100vw;
  position: absolute;
}

.our-team {
    transform: rotate(270deg);
    position: absolute;
    margin-left: -320px;
    margin-top: 180px;
    text-align: right;
    color: #e7e7e7;
    font-size: 8rem;
    text-transform: capitalize;
}

.what-we-do {
    transform: rotate(270deg);
    position: absolute;
    margin-left: -330px;
    margin-top: 200px;
    text-align: right;
    color: #e7e7e7;
    font-size: 6rem;
}



.btn-primary {
    background-color: #fec905;
    border: 0px;
    border-radius: 3rem;
    color: #222758 !important;
    font-weight: 700;
    transition: linear .1s;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #222758 !important;
    background-color: #fec905;
    border-color: #3d489e;
}

.bg-pad {
    padding-right: 3rem;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #222758;
}

.btn-text {
    color: white;
    transition: linear .1s;
    font-weight: 500;
    border-radius: 0px;
    border-bottom: solid 2px #fff300;
    padding: .175rem .25rem;
    font-size: 1.1rem;

}

.btn-text:hover {
    color: #222758;
    border-bottom: solid 2px #fff300;
    background-color: #fff300;
}

.btn-text-alt {
    color: #222758;
    transition: all ease .1s;
    font-weight: 500;
    border-radius: 0px;
    border-bottom: solid 4px #3d489e;
    padding: .5rem 0.3rem;
    font-size: 1.2rem;
}

.btn-text-alt:hover {
    transition: all ease .1s;
    border-bottom: dashed 4px #f1585e;
    color: #222758;
}

.btn-text-nav-sub {
    transition: all ease .1s;
    font-family: montserrat;
    padding: 36px 16px;
    text-decoration: none !important;
}


.nav-sub-select {
    border-bottom: 4px solid #f1585e;
    color: #3d489e;
    font-weight: 700;
    transition: all ease .1s;
    font-family: montserrat;
}

.btn-text-nav-sub:hover {
    border-bottom: 4px solid #f1585e;
    color: #222758;
}


.bootstrap-pad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.event-img {
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.donate {
    margin-left: 24px;
}

.nav-selected {
    color: #333;
    font-weight: 600;
}

.nav-logo {
    max-width: 180px;
}

.breadcrumbs {
    padding: 8px 0px;
    font-size: 1rem;
    background-color: #222758;
    color: white;
}

.breadcrumbs a {
    color: white;
    text-decoration: underline;
}

#bgvideo {
    position: relative;
    background-color: #3d489e;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#bgvideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#bgvideo .container {
    position: relative;
    z-index: 2;
}

#bgvideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3d489e;
    opacity: 0.9;
    z-index: 1;
}

.video-pad {
    margin-bottom: 30px;
    border-top: 7px solid #f0575e;
    padding-bottom: 10px;
}

.timeline {
    padding-left: 2rem;
    border-left: solid 1px #e7e7e7;
}

.featured-project {
    background-color: #f7934b;
    color: white;
}


/* stylelint-disable selector-list-comma-newline-after */
.blog-heading {
    margin-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
    padding-right: 100%;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.headline {
    font-size: 3.5rem;
}

.headline-p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.xl-padding {
    padding: 10rem 0rem;
}

.lg-padding {
    padding: 6rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #212758;
    font-weight: 700;
}

h1 {
    margin-bottom: 20px;
    font-weight: 700;
}

h2,
h3 {
    margin-bottom: 15px;
    line-height: 2.5rem;
}

.f-h5 {
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#3d489e;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid #fec905;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.nav-scroller {
    display: none;
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*
 * Blog name and description
 */

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #000;
}

.blog-post-image {
    width: 100%;
    padding-bottom: 30px;
}

/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 1rem;
    color: #333;
    background-color: #fff;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.mb {
    margin-bottom: 2rem;
}

.mu {
    margin-top: 2rem;
}

.mu-2 {
    margin-top: 4rem;
}

/* media queries */

/* If the screen size is 500px wide or less, hide the element */

@media only screen and (max-width: 995px) {
    .our-team {
        left: -100vw;
  position: absolute;
    }
    .what-we-do {
        left: -100vw;
  position: absolute;
    }
    
    .header {
    padding: 16px 0px 0px 0px;
}
    
    .bg-pad {
        padding-right: 1rem;
    }

    .mobile-pad {
        margin-bottom: 2rem;
    }

    .headline {
        font-size: 2.5rem;
    }
    
    .headline-p {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .xl-padding {
        padding: 6rem 0rem;
    }

    .lg-padding {
        padding: 4rem 0rem;
    }

    .nav-scroller {
        display: inline;
    }

    .cust-nav-item {
        display: none;
    }

    .bg-desktop-contact {
        background: none;
    }

    .bg-mobile-contact {
        display: inline;
    }

    .bg-desktop {
        background: none;
    }

    .bg-mobile {
        display: inline;
    }

    .footer-padding {
        padding-bottom: 30px;
    }
    .btn-text-nav-sub {

        transition: all ease .1s;
        font-family: montserrat;
        padding: 1rem .7rem;
    }

}

@media only screen and (max-width: 640px) {

    .xl-padding {
        padding: 4rem 1rem;
    }

    .lg-padding {
        padding: 4rem 1rem;
    }

    .timeline {
        padding: 0rem 1rem;
        border-left: none;
    }

    .featured-project {
        padding: 60px 15px 60px 15px;
    }

    .btn-mobile-pad {
        margin-bottom: 1rem;
    }

    .bg-pad {
        padding-right: 1rem;
    }

    .mobile-pad {
        margin-bottom: 4rem;
    }

    .video-pad {
        margin-top: 30px;
    }



    .breadcrumbs {

        font-size: 1rem;
    }
}